conda create -n ZHmol-LigGraph python=3.8.18
conda activate ZHmol-LigGraph
pip install h5py==3.10.0
pip install scipy==1.10.1
pip install tqdm==4.66.1
pip install pandas==2.0.3
pip install torch==1.7.1
pip install torch_cluster-1.5.8-cp38-cp38-linux_x86_64.whl
pip install torch_scatter-2.0.5-cp38-cp38-linux_x86_64.whl
pip install torch_sparse-0.6.8-cp38-cp38-linux_x86_64.whl
pip install torch_geometric==1.6.3
pip install torchvision==0.8.2

